/********** Basic stuff **********/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  /* overflow: hidden; */
}

/*********** Layout ************/
.container-fluid {
  height: 100vh;
}

.file {
  background-image: url(../images/uploadback.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  background-image: url(../images/menuback.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.game {
  background-image: url(../images/gameback.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
